{% extends "base.html" %}

{% block contenido %}



<div class="barra-superior">

    <h2>Catálogo de Discos</h2>

    {% if session.usuario %}
    <a href="/discos/nuevo" class="boton">
        + Agregar Disco
    </a>
    {% endif %}

</div>

<div class="contenedor-discos">

{% for disco in discos %}

<div class="tarjeta">

    <div class="portada">

    <a href="/discos/{{ disco.id_disco }}">

    {% if disco.portada %}

        <img
        src="{{ img(disco.portada, 600) }}"
        alt="{{ disco.titulo }}"
        loading="lazy"
        decoding="async">

    {% else %}

        Sin portada

    {% endif %}

    </a>

    </div>

    <h3>
        <a class="titulo-disco" href="/discos/{{ disco.id_disco }}">
            {{ disco.titulo }}
        </a>
    </h3>

    <p><strong>{{ disco.artista }}</strong></p>

    <p>{{ disco.anio }}</p>

    <p>{{ disco.genero }}</p>

    <p>{{ disco.sello }}</p>

    {% if disco.musica_audio %}
    <div class="acciones-play">
        <a class="boton-play" href="/musica/{{ disco.id_musica }}">
            ▶ Escuchar
        </a>
    </div>
    {% endif %}

    {% if session.usuario %}
    <div class="acciones">

        <a href="/discos/editar/{{ disco.id_disco }}">Editar</a>

        <a href="/discos/eliminar/{{ disco.id_disco }}">Eliminar</a>

    </div>
    {% endif %}

</div>

{% endfor %}

</div>

{% include "_paginacion.html" %}

{% endblock %}