{% extends "base.html" %}

{% block contenido %}

<section class="hero">

    <h2>Bienvenid@</h2>

    <p>

        Este sitio reúne los programas presentados en
        <strong>Analógico Domingo</strong>, junto con información
        de cada álbum y el historial de emisiones. Tambien subimos discos que recomendamos <strong>escuchar en su totalidad.</strong>

    </p>

</section>

<div class="acciones">

    <a class="boton" href="/discos/">

        Ver Discos

    </a>

    <a class="boton" href="/musica/">

        Escuchar Música

    </a>

    <a class="boton" href="/programas">

        Radio Giros

    </a>

</div>

{% endblock %}